<div class="videoprivacy-default privacy-confirm" role="dialog" tabindex="-1">
    <h4>{{ headline }}</h4>

    <p>{{ text }}</p>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="video-save-privacy"> {{ checkbox|raw }}
        </label>
    </div>
</div>