parameters:
  level: 0
  paths:
    - src
    - contao
  scanDirectories:
    - ../contao-privacy-center-bundle
#  universalObjectCratesClasses:
#    - Contao\Model
#    - Contao\Template
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon